.first {
  padding: 10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: "center";
}
.product {
  border: 1px solid #404040;
  margin: 1rem;
}
.product img {
  width: 100%;
  height: 39vh;
  max-width: 320px;
  max-height: 40vh;
}
.product-info {
  padding: 1.5rem;
}
.rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: "center";
  margin: auto;
  gap: 4px;
}
.rating span {
  color: #ffc000;
}
.rating > div {
  margin-top: -3px;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.img > div {
  width: 25%;
  border: 1px grey solid;
  text-align: center;
}
.img1 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
  height: 40vh;
  padding: 20px;
}
.img2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
  height: 40vh;
  padding: 20px;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  gap: 60px;
}
.cart > img {
  width: 20%;
  height: 20vh;
}
.btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sub {
  display: flex;
  justify-content: center;

  gap: 160px;
}
.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 35vh;
  padding: 25px;
  margin-top: 50px;
  border: 1px solid grey;
  text-align: center;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  margin: auto;
  text-align: left;
  padding: 20px;
  border: 1px red solid;
}
.product01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #404040;
}
.product01 > img {
  width: 100px;
  height: 10vh;
}
.product03 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 20px;
  gap: "10px";
  text-align: center;
  border: 1px solid #404040;
}
